/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 50ms linear;
  -o-transition: all 50ms linear;
  transition: all 50ms linear;
}

:root {
  --gray: #B9BCC1;
  --light-gray: #f0f0f0;
  --text: #111;
  --fs-text: 1.13rem; /* 20px */
  --fs-h1: 2.50rem;
  --fs-h2: 2rem;
  --fs-quote: 1.8rem;
  --bs: 10px 10px 0 rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.5);
}

/* @font-face {
  font-family: 'Secular One';
  src: url('./inc/SecularOne-Regular.ttf') format('truetype');
  font-style: normal;
} */

html,
body {
  background-color: #1c1f25;
  font-family: 'Secular One', sans-serif;
  color: var(--text);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: 2.5rem;
  -webkit-filter: drop-shadow(2px 2px #999);
          filter: drop-shadow(2px 2px #999);
  color: rgb(255, 255, 255);
}

fieldset {
  min-width: 25rem;
  padding-bottom: 1.3rem;
  margin-bottom: 2rem;
  background-color: #f1f1f1;
  border-radius: 8px;
  border: 4px double #000;
}

fieldset:nth-of-type(1) legend {background-color: #ddfde7;}
fieldset:nth-of-type(2) legend {background-color: #fae9cf;}
fieldset:nth-of-type(3) legend {background-color: #f9d8fd;}


#marker-select {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

legend {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

label {
  padding-right: 0.5rem;
}

button {
  position: relative;
  padding: 0.5rem;
  margin-top: 2rem;
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #ebe0a6;
  font-family: 'Secular One', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  -webkit-transition: all 80ms linear;
  -o-transition: all 80ms linear;
  transition: all 80ms linear;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #ffec84;
}

button:active {
  top: 2px;
}

#next-level:not(.try-again) {
  padding: 2rem;
  border: 4px solid rgb(89, 124, 122);
  border-radius: 10px;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#7185f9), color-stop(#58ff74), color-stop(#67fff7), color-stop(#ffdc68), to(#ff4fbb));
  background-image: -o-linear-gradient(left bottom, #7185f9, #58ff74, #67fff7, #ffdc68, #ff4fbb);
  background-image: linear-gradient(to right top, #7185f9, #58ff74, #67fff7, #ffdc68, #ff4fbb);
}

#next-level:hover,
#next-level:focus {
  -webkit-transition: all 30s linear;
  -o-transition: all 30s linear;
  transition: all 30s linear;
  -webkit-filter: hue-rotate(10000deg) saturate(1.2);
          filter: hue-rotate(10000deg) saturate(1.2);
}

#board-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 95vw;
}

.square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 5.4rem;
  width: 5.4rem;
  border: 2px solid #000;
  background-color: rgb(227, 230, 233);
  -webkit-box-shadow: inset 1px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 1px 5px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.square[data-id='1'] {
  background-color: rgb(213, 241, 230)
}

.square[data-id='2'] {
  background-color: rgb(241, 225, 225)
}

.square[data-id='1']:before,
.square[data-id='2']:before {
  content: '✘';
  top: 0.02rem;
  position: relative;
  display: block;
  font-size: 3rem;
  color: rgb(0, 117, 111);
}

.square[data-id='2']:before {
  content: '⚬';
  top: 0rem;
  font-size: 5rem;
  color: rgb(73, 0, 0);
}

.display-none {
  display: none;
}

.square[data-id='1'].winner-path {
  background-color: #BDF8D4;
}

.square[data-id='2'].winner-path {
  background-color: #A82323;
}

#game-alert {
  text-align: center;
  border: 2px solid var(--gray);
  border-radius: 4px;
  background-color: var(--light-gray);
  margin: 0;
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  width: 100%;
}

#game-alert.loss {
  background-color: rgb(248, 189, 189);
  border: 2px solid rgb(168, 35, 35);
  color: rgb(95, 8, 8);
}

#game-alert.win {
  background-color: rgb(189, 248, 212);
  border: 2px solid rgb(35, 168, 42);
  color: rgb(8, 95, 8);
}

#level-view {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
}

@media screen and (max-width: 810px) {
  input[type=range]::-moz-range-track {
    background: #000;
  }

  input[type=range]::-moz-range-thumb {
    background-color: rgb(144, 201, 170);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
  }

  html {
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85);
            padding-bottom: 5rem;
            margin-top: -3rem;
            transition: all 0 linear;
  }

  h1 {
    margin-top: -0.5rem;
    margin-bottom: -0.2rem;
  }

  #options {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    font-size: 1.5rem;
  }

  fieldset {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  fieldset div {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin: 0.2rem;
  }

  fieldset label {
    display: block;
    text-align: center;
    border:1px solid blue;
    background-color: rgb(218, 218, 218);
    width: 100%;
  }

  fieldset input {
    display: none;
  }

  fieldset input:checked ~ label {
    background-color: rgb(144, 201, 170);
  }

  fieldset input[type="range"] {
    display: block;
    position: relative;
    width: 100% + 1px;
    margin: 2rem 0;
  }

  #board.board-size-3 {
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
    margin: 4rem 0;
  }

  #board.board-size-4 {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    margin: 3rem 0;
  }

  #board.board-size-5 {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    margin: 0;
  }

  #board.board-size-6 {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    margin: -2rem;
  }

  #board.board-size-7 {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    margin: -4rem 0;
  }

  #board.board-size-8 {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    margin: -7rem 0;
  }

  #board.board-size-9 {
    -webkit-transform: scale(0.55);
        -ms-transform: scale(0.55);
            transform: scale(0.55);
    margin: -10rem 0;
  }
}