/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --dark-blue: #1F2937;
  --light-blue: #3671CE;
  --brown: #7D7645;
  --white: #ffffff;
  --gray: #B9BCC1;
  --light-gray: #eceff3;
  --text: #333333;
  --fs-text: 1.13rem; /* 20px */
  --fs-h1: 2.50rem;
  --fs-h2: 2rem;
  --fs-quote: 1.8rem;
  --bs: 0.8rem 0.8rem 1px rgba(0,0,0,0.5), 0 3px 6px rgba(0,0,0,0.5);
}

header, .cards, .quote, .call-to-action {
  position: relative;
}

@font-face {
  font-family: 'Nunito';
  src: url('./inc/NunitoSans-Regular.ttf') format('truetype');
  font-style: normal;
}


@font-face {
  font-family: 'Nunito';
  src: url('./inc/NunitoSans-ExtraBold.ttf') format('truetype');
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'Nunito';
  src: url('./inc/NunitoSans-ExtraBoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Nunito';
  font-size: var(--fs-text);
  font-weight: 400;
  -webkit-transition: all 40ms linear;
  -o-transition: all 40ms linear;
  transition: all 40ms linear;
}

small {
  font-size: 1rem;
}

a {
  color:var(--light-gray);
}

a:hover,
a:focus {
  color: #fff;
}

a:active {
  color: rgb(200, 200, 255);
}

h1, h2, h3, h4 , h5 {
  font-size: var(--fs-h1);
  color: var(--white);
  font-weight: 900;
  padding-bottom: 1rem;
}

h1 {
  -webkit-filter: drop-shadow(1px 1px #000000);
          filter: drop-shadow(1px 1px #000000);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row .col {
  width: 100%;
}

.outer {
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  color: var(--text);
}

.outer.nopadding {
  padding: 0;
}

.outer h2 {
  color: var(--text);
}

.blue,
.blue {
  background-color: var(--dark-blue);
  color: var(--gray);
}

.blue h2 {
  color: #ffffff;
}

.gray,
.gray {
  background-color: var(--light-gray);
}

.inner {
  width: 1200px;
  padding: 1rem;
}

.inner.nopadding {
  padding: 0;
}

/*nav*/
nav {
  background-color: #262318;
}

nav .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .inner a {
  margin: 0 1rem;
  font-size: 1rem;
}

nav .inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}


nav .logo img {
  -webkit-filter: drop-shadow(0 0 2rem #fff);
          filter: drop-shadow(0 0 2rem #fff);
  -webkit-animation: glow 15s infinite linear;
          animation: glow 15s infinite linear;
}

@-webkit-keyframes glow {
  0% {
    -webkit-filter: drop-shadow(0 0 2rem #fff);
            filter: drop-shadow(0 0 2rem #fff);
    rotate: 0deg;
  }
  10% {
    rotate: 10deg;
    -webkit-filter: drop-shadow(0 0 3rem #000);
            filter: drop-shadow(0 0 3rem #000);
  }
  90% {
    rotate: -10deg;
    -webkit-filter: drop-shadow(0 0 3rem #000);
            filter: drop-shadow(0 0 3rem #000);
  }
  100% {
    rotate: 0deg;
    -webkit-filter: drop-shadow(0 0 2rem #fff);
            filter: drop-shadow(0 0 2rem #fff);
  }
}

@keyframes glow {
  0% {
    -webkit-filter: drop-shadow(0 0 2rem #fff);
            filter: drop-shadow(0 0 2rem #fff);
    rotate: 0deg;
  }
  10% {
    rotate: 10deg;
    -webkit-filter: drop-shadow(0 0 3rem #000);
            filter: drop-shadow(0 0 3rem #000);
  }
  90% {
    rotate: -10deg;
    -webkit-filter: drop-shadow(0 0 3rem #000);
            filter: drop-shadow(0 0 3rem #000);
  }
  100% {
    rotate: 0deg;
    -webkit-filter: drop-shadow(0 0 2rem #fff);
            filter: drop-shadow(0 0 2rem #fff);
  }
}

nav img {
  height: 50px;
  width: 50px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero {
  padding: 2rem 0 5rem;
}

.hero-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  width: 100%;
  padding: 1rem;
}

.spacer {
  width: 10rem;
  height: 4rem;
}

.hero-img {
  position: relative;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-image: url("img/fields.jpg");
  border-radius: 1rem;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  overflow: hidden;
}

#tractor-animation {
  background-image: url("img/tractor-animation.webp");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  position: absolute;
  left: -50%;
  bottom: 2.5rem;
  -webkit-animation: plow 35s infinite linear;
          animation: plow 35s infinite linear;
  -webkit-filter: saturate(0.6);
          filter: saturate(0.6);
  -webkit-transform: rotate(-50deg);
      -ms-transform: rotate(-50deg);
          transform: rotate(-50deg);
  -webkit-transform-origin: bottom 10px left 1px;
      -ms-transform-origin: bottom 10px left 1px;
          transform-origin: bottom 10px left 1px;
}

@-webkit-keyframes plow {
  0% {
    left: -45%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    bottom: 1.5rem;
  }

  19% {left: -10%; bottom: 1.5rem; -webkit-transform: rotate(0deg); transform: rotate(0deg);}
  20% {bottom: 3rem; -webkit-transform: rotate(-40deg); transform: rotate(-40deg);}
  21% {-webkit-transform: rotate(-60deg);transform: rotate(-60deg);}
  25% {-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
  26% {left: 20%; -webkit-transform: rotate(-78deg); transform: rotate(-78deg);}
  29% {bottom: 2.5rem; -webkit-transform: rotate(-55deg); transform: rotate(-55deg);}
  30% {left: 44%;bottom: 1rem; -webkit-transform: rotate(0deg); transform: rotate(0deg)}

  100% {
    left: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    bottom: 1rem; 
  }
}

@keyframes plow {
  0% {
    left: -45%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    bottom: 1.5rem;
  }

  19% {left: -10%; bottom: 1.5rem; -webkit-transform: rotate(0deg); transform: rotate(0deg);}
  20% {bottom: 3rem; -webkit-transform: rotate(-40deg); transform: rotate(-40deg);}
  21% {-webkit-transform: rotate(-60deg);transform: rotate(-60deg);}
  25% {-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
  26% {left: 20%; -webkit-transform: rotate(-78deg); transform: rotate(-78deg);}
  29% {bottom: 2.5rem; -webkit-transform: rotate(-55deg); transform: rotate(-55deg);}
  30% {left: 44%;bottom: 1rem; -webkit-transform: rotate(0deg); transform: rotate(0deg)}

  100% {
    left: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    bottom: 1rem; 
  }
}


.btn {
  display: inline-block;
  position: relative;
  background-color: var(--light-blue);
  text-decoration: none;
  color: var(--white);
  margin: 1rem 0;
  min-width: 8rem;
  text-align: center;
  padding: 0.6rem 1rem;
  border: 1px solid #253042;
  border-radius: 6px;
  font-size: 1rem;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs)
}

.btn:hover {
  background-color: var(--brown);
  border: 1px solid var(--gray);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:active {
  top: 2px;
  color: #fff;
}

section.outer {
  padding: 5rem 0;
}

main h2 {
  text-align: center;
}

.info-cards {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 text-align: center;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: blue;
  margin: 1rem;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
}

.card-container:hover,
.card-container:focus {
  -webkit-filter: saturate(1.5) drop-shadow(0 0 0.75rem #fff);
          filter: saturate(1.5) drop-shadow(0 0 0.75rem #fff);
  -webkit-box-shadow: 2px 2px 2px currentColor;
          box-shadow: 2px 2px 2px currentColor;
}

.card-container p {
  display: block;
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 0 0 0.5rem 0.5rem;;
  border-top: 1px solid #888;
  width: 100%;
  font-weight: 700;
}

.card-img {
  display: block;
  height: 15rem;
  width: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  padding: 2rem;
  -webkit-filter: saturate(0.7);
          filter: saturate(0.7);
}

.card-container:nth-of-type(1) {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#a7c9a4), color-stop(#afcb9c), color-stop(#bacb95), color-stop(#c6cc8d), to(#d4cb87));
  background-image: -o-linear-gradient(left bottom, #a7c9a4, #afcb9c, #bacb95, #c6cc8d, #d4cb87);
  background-image: linear-gradient(to right top, #a7c9a4, #afcb9c, #bacb95, #c6cc8d, #d4cb87);
}

.card-container:nth-of-type(2) {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#b3c272), color-stop(#d0c586), color-stop(#e3ca9f), color-stop(#ecd2bb), to(#edddd5));
  background-image: -o-linear-gradient(left bottom, #b3c272, #d0c586, #e3ca9f, #ecd2bb, #edddd5);
  background-image: linear-gradient(to right top, #b3c272, #d0c586, #e3ca9f, #ecd2bb, #edddd5);
}

.card-container:nth-of-type(3) {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ffbdbc), color-stop(#e7a69e), color-stop(#ce9082), color-stop(#b47c66), to(#9a684c));
  background-image: -o-linear-gradient(left bottom, #ffbdbc, #e7a69e, #ce9082, #b47c66, #9a684c);
  background-image: linear-gradient(to right top, #ffbdbc, #e7a69e, #ce9082, #b47c66, #9a684c);
}

.card-container:nth-of-type(4) {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ddc262), color-stop(#ddb868), color-stop(#ffc884), color-stop(#ffc399), to(#ffc1ab));
  background-image: -o-linear-gradient(left bottom, #ddc262, #ddb868, #ffc884, #ffc399, #ffc1ab);
  background-image: linear-gradient(to right top, #ddc262, #ddb868, #ffc884, #ffc399, #ffc1ab);
}

.card-container:nth-of-type(1) .card-img {
  background-image: url("img/tractor.webp");
}

.card-container:nth-of-type(2) .card-img {
  background-image: url("img/building.webp");
}

.card-container:nth-of-type(3) .card-img {
  background-image: url("img/truck.webp");
}

.card-container:nth-of-type(4) .card-img {
  background-image: url("img/yellow-tractor.webp");
}

.quote figure {
  margin: 0 2rem;
}

blockquote p {
  position: relative;
  text-align: justify;
  font-size: var(--fs-quote);
  padding: 2rem;
  line-height: 3.6rem;
  letter-spacing: -1px;
  font-weight: 700;
  color: #333333;
  z-index: 1;
}

blockquote p:before {
  content: open-quote;
  position: absolute;
  top: 120px;
  left: -40px;
  font-size: 30rem;
  opacity: 0.1;
  display: block;
  z-index: -1;
}

figure figcaption {
  padding: 2rem;
}

.cta {
  border: 1px solid black;
  padding: 1rem;
  margin: 2rem;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  border-radius: 8px;
}

.cta.blue {
  background-color: var(--light-blue);
  color: #fff;
}

.cta.blue .row .col .btn {
  background-color: var(--dark-blue);
}

.cta h2 {
  font-size: var(--fs-h2);
  text-align: left;
}

.cta .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cta .row .col {
  width: auto;
}

.cta .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.copyright-info {
  padding: 2rem;
}

@media screen and (max-width: 1000px) {
  .hero-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }

  .info-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info-cards .card-container {
    width: 260px;
  }
}