:root {
  --dark-blue: #1F2937;
  --light-blue: #3882f6;
  --brown: #7D7645;
  --white: #ffffff;
  --gray: #B9BCC1;
  --light-gray: #eceff3;
  --text: #333333;
  --fs-text: 1.13rem; /* 20px */
  --fs-h1: 2.50rem;
  --fs-h2: 2rem;
  --fs-quote: 1.8rem;
  --bs: 0.8rem 0.8rem 1px rgba(0,0,0,0.5), 0 3px 6px rgba(0,0,0,0.5);
}

@font-face {
  font-family: 'Nunito';
  src: url('./inc/NunitoSans-Regular.ttf') format('truetype');
  font-style: normal;
}


@font-face {
  font-family: 'Nunito';
  src: url('./inc/NunitoSans-ExtraBold.ttf') format('truetype');
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'Nunito';
  src: url('./inc/NunitoSans-ExtraBoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Nunito';
  font-size: var(--fs-text);
  font-weight: 400;
  transition: all 40ms linear;
}

small {
  font-size: 1rem;
}

a {
  color:var(--light-gray);
}

a:hover,
a:focus {
  color: #fff;
}

a:active {
  color: rgb(200, 200, 255);
}

h1, h2, h3, h4 , h5 {
  font-size: var(--fs-h1);
  color: var(--white);
  font-weight: 900;
  padding-bottom: 1rem;
}

h1 {
  filter: drop-shadow(1px 1px #000000);
}

.outer {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  color: var(--text);
}

.outer.nopadding {
  padding: 0;
}

.outer h2 {
  color: var(--text);
}

.outer.blue {
  background-color: var(--dark-blue);
  color: var(--gray);
}

.outer.gray {
  background-color: var(--light-gray);
}

.inner {
  width: 1200px;
  padding: 1rem;
}

.inner.nopadding {
  padding: 0;
}

/*nav*/
nav {
  background-color: #262318;
}

nav .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .inner a {
  margin: 0 1rem;
  font-size: 1rem;
}

nav .inner ul {
  display: flex;
  list-style: none;
}


nav .logo img {
  filter: drop-shadow(0 0 2rem #fff);
  animation: glow 15s infinite linear;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 2rem #fff);
    rotate: 0deg;
  }
  10% {
    rotate: 10deg;
    filter: drop-shadow(0 0 3rem #000);
  }
  90% {
    rotate: -10deg;
    filter: drop-shadow(0 0 3rem #000);
  }
  100% {
    rotate: 0deg;
    filter: drop-shadow(0 0 2rem #fff);
  }
}

nav img {
  height: 50px;
  width: 50px;
}

nav ul {
  display: flex;
}

.hero {
  padding: 2rem 0 5rem;
}

.hero-inner {
  display: flex;
  align-items: center;
}

.col {
  width: 100%;
  padding: 1rem;
}

.spacer {
  width: 10rem;
  height: 4rem;
}

.hero-img {
  position: relative;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-image: url("img/fields.jpg");
  border-radius: 1rem;
  box-shadow: var(--bs);
  overflow: hidden;
}

#tractor-animation {
  background-image: url("img/tractor-animation.webp");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  position: absolute;
  left: -50%;
  bottom: 2.5rem;
  animation: plow 35s infinite linear;
  filter: saturate(0.6);
  transform: rotate(-50deg);
  transform-origin: bottom 10px left 1px;
}

@keyframes plow {
  0% {
    left: -45%;
    transform: rotate(0deg);
    bottom: 1.5rem;
  }

  19% {left: -10%; bottom: 1.5rem; transform: rotate(0deg);}
  20% {bottom: 3rem; transform: rotate(-40deg);}
  21% {transform: rotate(-60deg);}
  25% {transform: rotate(-90deg);}
  26% {left: 20%; transform: rotate(-78deg);}
  29% {bottom: 2.5rem; transform: rotate(-55deg);}
  30% {left: 44%;bottom: 1rem; transform: rotate(0deg)}

  100% {
    left: 100%;
    transform: rotate(0deg);
    bottom: 1rem; 
  }
}


.btn {
  display: inline-block;
  position: relative;
  background-color: var(--light-blue);
  text-decoration: none;
  color: var(--white);
  margin: 1rem 0;
  padding: 0.6rem 1rem;
  border: 1px solid #253042;
  border-radius: 6px;
  font-size: 1rem;
  box-shadow: var(--bs)
}

.btn:hover {
  background-color: var(--brown);
  border: 1px solid var(--gray);
  box-shadow: none;
}

.btn:active {
  top: 2px;
  color: #fff;
}

section.outer {
  padding: 5rem 0;
}

main h2 {
  text-align: center;
}

.info-cards {
 display: flex;
 justify-content: center;
 text-align: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: blue;
  margin: 1rem;
  box-shadow: var(--bs);
}

.card-container:hover,
.card-container:focus {
  filter: saturate(1.5) drop-shadow(0 0 0.75rem #fff);
  box-shadow: 2px 2px 2px currentColor;
}

.card-container p {
  display: block;
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 0 0 0.5rem 0.5rem;;
  border-top: 1px solid #888;
  width: 100%;
  font-weight: 700;
}

.card-img {
  display: block;
  height: 15rem;
  width: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  padding: 2rem;
  filter: saturate(0.7);
}

.card-container:nth-of-type(1) {
  background-image: linear-gradient(to right top, #a7c9a4, #afcb9c, #bacb95, #c6cc8d, #d4cb87);
}

.card-container:nth-of-type(2) {
  background-image: linear-gradient(to right top, #b3c272, #d0c586, #e3ca9f, #ecd2bb, #edddd5);
}

.card-container:nth-of-type(3) {
  background-image: linear-gradient(to right top, #ffbdbc, #e7a69e, #ce9082, #b47c66, #9a684c);
}

.card-container:nth-of-type(4) {
  background-image: linear-gradient(to right top, #ddc262, #ddb868, #ffc884, #ffc399, #ffc1ab);
}

.card-container:nth-of-type(1) .card-img {
  background-image: url("img/tractor.png");
}

.card-container:nth-of-type(2) .card-img {
  background-image: url("img/building.png");
}

.card-container:nth-of-type(3) .card-img {
  background-image: url("img/truck.png");
}

.card-container:nth-of-type(4) .card-img {
  background-image: url("img/yellow-tractor.png");
}

.quote figure {
  margin: 0 2rem;
}

blockquote p {
  position: relative;
  text-align: justify;
  font-size: var(--fs-quote);
  padding: 2rem;
  line-height: 3.6rem;
  letter-spacing: -1px;
  font-weight: 700;
  color: #333333;
  z-index: 1;
}

blockquote p:before {
  content: open-quote;
  position: absolute;
  top: 120px;
  left: -40px;
  font-size: 30rem;
  opacity: 0.1;
  display: block;
  z-index: -1;
}

figure figcaption {
  padding: 2rem;
}

